# Vision y deteccion de manos
opencv-python>=4.8.0
mediapipe==0.10.14

# Machine Learning clasico (clasificador de landmarks)
scikit-learn>=1.3.0
joblib>=1.3.0
numpy>=1.24.0

# Interfaz grafica
Pillow>=10.0.0


# Servidor web y utils
fastapi>=0.110.0
qrcode[pil]>=7.4.2  